.addCat{
    width: 70vw;
    margin-left: 4rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.addCat > .optionCat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.addCat > .optionCat > span {
    margin: 0.5rem 1rem;
    text-transform: capitalize;
    font-family: "poppins", sans-serif;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.addCat > p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(160, 0, 0);
    margin: 1rem;
    font-weight: 600;
}
.active{
    background-color: black;
    color: white;
}